*.core
.build/
.last_cover_stats
.lwpcookies
Build
Build.bat
Game-Xomb-*
Game-Xomb-*.tar.gz
META.*
MYMETA.*
Makefile
Makefile.old
TODO
_build/
blib/
cover_db/
inc/
lib/Game/Xomb.c
lib/Game/Xomb.o
log
nytprof.out
pm_to_blib
pod2htm*.tmp
